.Main{
  background: url("https://images.unsplash.com/photo-1592210454359-9043f067919b?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  height: 100%;
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
}
.join{
  display: flex;
  justify-content: center;
}
.search-box{
  width: 20rem;
  margin-top: 1.5rem;
}
.weather-details{
  background: white;
  opacity: 0.8;
  width: 100%;
  border-radius: 2%;
  padding: 1rem;
  gap: 2.8rem;
  display: flex;
  flex-direction: column;
  margin-top: 14px;
}
.temp{
  font-size: 50px;
  font-weight: bold;
}

.forecast{
  background: white;
  width: 100%;
  opacity: 0.8;
  border-radius: 2%;
  padding: 1rem;
  margin-top: 14px;
}
.chart{
  background: white;
  width: 100%;
  opacity: 0.8;
  height: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 2%;

  
}
.patch{
  display: flex;
  margin-top: 1.5rem;
  padding: 2rem;
  gap: 2rem;
}
.card{
  background: white !important;
  height: fit-content;

}
.innercard{
  border: gray solid 2px;
  padding: 2rem;
  border-radius: 1rem;
  display: flex;
  justify-content: space-around;
  
}

